
.details-container {
    position: relative;
}

.details{
    position: absolute;
    top: 160px;
    left: 80px;
    z-index: 1;
    background: transparent;
}

.details-title{
    font-size: 35px;
    width: 500px;
    word-wrap: break-word;
    color: white;
    background: transparent;
    letter-spacing: 0.7px;
    margin-bottom: 20px;
}

.rating-icon{
    color: #ffcf33;
    background: transparent;
    margin-right: 2px;
    font-size: 20px;
    margin-bottom: -8px;
}

.rating-details{
    background: transparent;
    color: rgb(184, 183, 183);
    font-size: 15px;
    letter-spacing: 1px;
    margin: 20px 0;
}

.description{
    background: transparent;
    color: rgb(184, 183, 183);
    width: 500px;
    word-wrap: break-word;
    margin: 20px 0px;
    font-size: 18px;
    letter-spacing: 0.5px;
}

.trailer-btn{
    outline: none;
    border: none;
    font-size: 20px;
    letter-spacing: 0.8px;
    font-family: 'Nunito Sans', sans-serif;
    margin: 10px 0px;
    color: rgb(255, 255, 255);
    background: #1769aa;
    border-radius: 2px;
    padding: 8px 20px;
    text-decoration: none;
}

.backdrop{
    position:relative;
    display:inline-block;
}
  
.backdrop:after {
    content:'';
    position:absolute;
    left:0; top:0;
    width:100vw;
    height:100vh;
    display:inline-block;
    background-image: linear-gradient(
        to right,
        rgba(2, 2, 2, 0.96) 20%,
        transparent 80%,
        transparent 100%
      );
}
.backdrop img{
    display:block;
    width: 100vw;
    height: 100vh;
}

.btn-icon{
    background: transparent;
    vertical-align:middle;
    width: 30px !important;
    height: 30px !important;
    font-size: 30px !important;
    margin-right: 2px;
    margin-bottom: 3px;
}


.mat-tab-label {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    color: white !important;
    font-size: 24px !important;
    letter-spacing: 0.8px;
    margin-top: 10px;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
    background-color: #1769aa;
}

.mat-tab-body-content {
    height: 100%;
    margin: 10px;
}

.mat-tab-body.mat-tab-body-active {
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden !important;
    z-index: 1;
    flex-grow: 1;
}

/* Overview */

.overview-content-container{
    padding: 25px 60px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-items: flex-start;
    align-self: flex-start;
    justify-self: flex-start;
    letter-spacing: 0.7px;
}

.poster{
    width: 250px;
    height: 380px;
}

.details-container{
    width: 700px;
    color: white;
}

.storyLine-container{
    font-size: 27px;
    font-weight: normal;
}

.detail{
    margin-top: 6px;
    font-size: 18px;
    color: rgb(174, 174, 174);
}

.title-value-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 19px;
    margin: 15px 0;
}

.title-container{
    display: flex;
}

.title{
    width: 150px;
    margin: 3px 0px;
}
.value{
    margin: 3px 0px;
    color: rgb(174, 174, 174);
}
/* Videos */

.videos-content-container{
    height: max-content;
    padding: 20px;
    width: 100%;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
}

.videos-container{
    width: 320px;
    text-decoration: none;
}

.video-name{
    color: white;
    letter-spacing: 0.8px;
    font-size: 16px;
}

/* Photos */

.image-content-container{
    height: max-content;
    padding: 20px;
    width: 100%;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.backdropImage{
    width: 100%;
    border-radius: 3px;
}