<app-navbar></app-navbar>

<div [class]="'serach-container'">
    <form class="example-form" #searchForm="ngForm">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Search TV Series</mat-label>
            <input matInput autocomplete="off" name="searchString" [(ngModel)]="searchStr" (keyup.enter)="getTVsList(1)" >
        </mat-form-field>
    </form>
</div>

<div *ngIf="loading" [class]="'loading'">
    <mat-spinner></mat-spinner>
</div>

<div *ngIf="!loading" [class]="'items-container'">
    <app-single-card *ngFor = "let item of moviesList" [isMovie]="false" [item]="item"></app-single-card>
</div>

<div [class]="'pagination-container'">
    <mat-paginator [length]="data?.total_results" [pageSize]="20" (page)="changePage($event)">
    </mat-paginator>
</div>