*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    background: #343a40;
    background: #141414;
    background: #0d1117;
    /* background: rgba(11,26,42); */
}

::-webkit-scrollbar{
    display: none;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
