<a [class]="'single-card-container'" [routerLink]="'/'+(isMovie ? 'movie' : 'tv')+'/'+item?.id">
    <div [class]="'image-container'">
        <img *ngIf="item?.poster_path" [class]="'card-poster'" src={{image_main_url+item?.poster_path}} />
        <img *ngIf="!item?.poster_path" [class]="'card-poster'" src="assets/images/movie.png" />
        <div [class]="'given-rating'">
            <mat-icon [class]="'rating-icon'" aria-hidden="false" fontIcon="star"></mat-icon>
            {{ item?.vote_average | number:'1.1-1'}}
            <span [class]="'out-of-rating'">/10</span>
        </div>
        <div [class]="'card-quality'">HD</div>
        <div *ngIf="item?.release_date || item?.first_air_date" [class]="'card-year'">
            {{ isMovie ? item?.release_date?.substr(0, 4) : item?.first_air_date?.substr(0,4) }}
        </div>
    </div>
    <div [class]="'card-title'">
        {{ 
        isMovie ? 
        item?.title?.substr(0, 15) + (item?.title?.length>15 ? '...' : '') 
        : item?.name?.substr(0, 15) + (item?.name?.length>15 ? '...' : '')
        }}
    </div>
</a>